<div class="container">
  <div class="header">
    <h1>
      Welcome to {{title}}!!
    </h1>
  </div>
  <div class="head-images">
    <img src="https://cdn.pixabay.com/photo/2014/04/03/00/43/gemstone-309212_960_720.png">
    <img src="http://maxpixel.freegreatpicture.com/static/photo/1x/Treasure-Chest-Find-Treasure-Geocaching-161753.png">
    <img src="https://cdn.pixabay.com/photo/2014/04/03/00/43/gemstone-309212_960_720.png">
  </div>
  <div class="geocaches-container">
    <router-outlet></router-outlet>
  </div>
</div>
